@import 'reset';

$base-color: #0DBC91;

body{
    font-family: 'PT Sans Caption';
    font-size: 16px;
    font-weight: 400;
    color: #364844;
}

.container {
    width: 100%;
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}

.button{
    display: inline-block;
    border-radius: 50px;
    padding: 13px 10px;
    min-width: 196px;
    text-align: center;
    font-size: 14px;
    transition: all 0.2s linear;

    &-green{
        color: #fff;
        background: $base-color;
        &:hover{
            background: #00D29F;
        }
    }

    &-inherit{
        color:$base-color;
        border: 1px solid $base-color;
        &:hover{
            color: #fff;
            background: $base-color;
        }
    }

    &-white{
        background: #fff;
        color: #1FA181;
        display: none;
    }
}

.header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff;
    &__information{
        padding-top: 17px;
        padding-bottom: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__contactBlock-country{
        display: none;
    }
    &__logotypeBlock{
        display: flex;
        align-items: flex-end;
        font-size: 14px;
    }

    &__logo{
        margin-right: 43px;
    }

    &__location-country{
        margin-bottom: 5px;
        position: relative;
        
        &::before{
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background: url(../images/placeholder.png);
            position: absolute;
            top: -2px;
            left: -23px;
        }
    }

    &__location-addres{
      color: #868686;  
    }

    &__number{
        margin-right: 35px;
        position: relative;
        &::before{
            content: '';
            display: block;
            width: 28px;
            height: 28px;
            background: url(../images/whatsapp.svg);
            position: absolute;
            top: -3px;
            left: -35px;
        }
    }
    &__navigation{
        padding: 20px 0;
        background: #1FA181;
    }
}

.nav{
    &__list{
        display: flex;
        color: #fff;
    }
    &__item{
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__link{
        color: #fff;
    }
}

.burger{
    width: 37px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
    position: relative;
    display: none;
    &__line{
       width: 100%;
       height: 4px;
       background: #1FA181; 
       transition: all 0.2s linear;
    }
    &-active .line-1{
        position: absolute;
        left: 0;
        top: 50%;
        transform: rotate(45deg);
    }
    &-active .line-2{
        display: none;
    } 
    &-active .line-3{
        position: absolute;
        left: 0;
        top: 50%;
        transform: rotate(-45deg);
    }  
}

.intro{
    padding-top: 130px;
    padding-left: calc((100% - 1160px)/2);
    background: #F8FBFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

    &__information{
        padding: 0 30px 0 10px
    }
    &__title{
        font-size: 36px;
        font-weight: 700;
        max-width: 350px;
        margin-bottom: 15px; 
    }

    &__subtitle{
        max-width: 360px;
        line-height: 24px;
    }

    &__images img{
        object-fit: cover;
        max-width: 100%;
    }
}

.checkUp{
    margin-bottom: 155px;
    position: relative;
    &__content{
        display: flex;
        justify-content: space-between;
        background: #E2F0EF;
        min-width: 0;
    }

    &__information{
        width: 45%;
        padding-left: 60px;
        position: relative;
        &::after{
            content: '';
            height: 100%;
            display: block;
            border: 445px solid transparent;
            border-bottom: 0px solid transparent;
            border-right: 0px solid transparent;
            border-left: 136px solid #E2F0EF;
            position: absolute;
            top: 0;
            right: -135px;
        }
        
    }
    &__image{
        line-height: 0;
        width: 55%;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title{
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 40px;
    }

    &__subtitle{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    &__list{
        list-style:disc;
        color: $base-color;
        margin-bottom: 45px;
        padding-left: 20px;
        & span{
            color: #364844;  
        }
    }

    &__item{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__price{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    &__newPrise{
        margin-right: 16px;
        font-size: 20px;
    }

    &__oldPrise{
        color: #868686;
        text-decoration: line-through;
    }
    
    &__buttons{
        margin-bottom: 40px;
    }
}


.slider-navigation{
    position: absolute;
    bottom: -55px;
    z-index: 1;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.swiper{
    position: unset;
}

.button-prev,
.button-next{
    width: 34px;
    height: 34px;
    cursor: pointer;
    & svg path{
        transition: all 0.2s linear;
    }
    &:hover svg path {
        fill: $base-color;
    }
}

.pagination{
    text-align: center;
    color: #C0C0C0;
    font-size: 18px;
    letter-spacing: -2px;
}
.swiper-pagination-current{
    color: #364844;
}

.footer{
    padding: 50px 0;
    background: #08664F;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__socials-link{
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
    
    &-active{
        visibility:visible;
        opacity: 1; 
    }
    &__content{
        max-width: 900px;
        min-height: 300px;
        max-height: 600px;
        background: #fff;
        padding: 50px;
        border-radius: 20px;
        position: relative;
        text-align: center;
        transition: all 0.2s linear;
        transform: translateY(-100px);
        
        &-active{
            transform: translateY(0);
        }
    }
    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        outline: none;
        background: inherit;
        cursor: pointer;
    }
    &__title{
        font-size: 25px;
        margin-bottom: 40px;
    }

    &__form{
        display: flex;
        flex-direction: column;
    }

    &__input{
        border: 1px solid #000;
        margin-bottom: 20px;
        padding: 10px 0;
    }

    &__submit{
        border: 1px solid #000;
        padding: 10px 0;
        border-radius: 10px;
        cursor: pointer; 
    }
}


@media(max-width:1035px){
    .intro{
        margin-bottom: 50px;
    }
    .intro__title{
        font-size: 26px;
    }
    .intro__subtitle{
        font-size: 14px;
    }


    .checkUp__information{
        padding-left: 10px;
    }
    .button{
        min-width: 137px;
    }
    .button-white{
        min-width: 196px;
    }
    .checkUp__list{
        font-size: 14px;
    }
    .footer{
        padding: 40px 0;
    }
}

@media(max-width:780px){

    .header__navigation{
        position: fixed;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all 0.2s linear;
        background: rgba(69, 146, 127, 0.9);
        backdrop-filter: blur(2px);
    }

    .header__navigation-active{
        transform: translateX(0);
    }

    .header__number::before{
        display: none;
    }

    .header__location{
        display: none;
    }

    .header__button{
        display: none;
    }
    .header__contactBlock-country{
        display: block;
    }
    .header__number{
        margin-right: 0;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .header__contactBlock{
        text-align: end;
    }
    .header__logotypeBlock{
        align-items: center;
    }
    .header__logo{
        margin-right: 0;
    }
    .burger{
        display: flex;
    }
    .nav__list{
        flex-direction: column;
        padding-top: 45px;
    }
    .nav__item{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .intro{
        padding-top: 66px;
    }


    .footer__inner{
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .footer__logo{
        width: 70%;
        margin-bottom: 30px;
    }
    .nav__list-footer{
        flex-direction: column;
    }
    .nav{
        order: 2;
    }
    .footer__socials{
        order: 1;
    }
    .nav__item-footer{
        margin-bottom: 20px;
        :last-child{
            margin-bottom: 0;
        }
    }
    .button-white{
        display: inline-block;
    }
}

@media(max-width:720px){
    .intro{
        flex-direction: column;
        padding-left: 0;
        align-items: flex-start;
    }
    .intro__information{
        order: 1;
    }
    .intro__images{
        order: 0;
        margin-bottom: 50px;
    }
}

@media(max-width:665px){
    .checkUp__information::after{
        display: none;
    }
    .checkUp__content{
        flex-direction: column;
    }
    .checkUp__image {
        width: 100%;
        order: 0;
    }
    .checkUp__information{
        width: 100%;
        order: 1;
    }
    .checkUp__title{
        margin-bottom: 20px;
    }
}

@media(max-width:470px){
    .footer__logo{
        width: 45%;
    }
    .checkUp__buttons{
        text-align: center;
        margin-left: -10px;
    }
}

